.ui-grid-card {

  [data-role=actions] {
    position: absolute;
    top: rem(0.5);
    right: rem(0.5);

    span {
      display: none;
    }

    button {
      cursor: pointer;
      background: none;
      border: none;
      color: darken($white, 50);
      height: rem(3.2);
      line-height: rem(2.2);
      margin: 0;
      padding: 0;
      vertical-align: middle;

      &:hover {
        color: $orange;
      }

      &:before {
        font-family: 'iconfont';
        font-style: normal;
        font-size: 120%;
        margin-right: 0.3em;
      }

      &[disabled] {
        color: darken($white, 30);
        cursor: default;
      }
    }

    .button-del-item {
      &:before {
        content: '\e623';
      }
    }

    .button-edit-item {
      &:before {
        content: '\e61e';
      }
    }
  }

  button {
    input {
      vertical-align: middle;
      margin-right: rem(0.3);
    }
  }

  .cards {
    margin: 0 -#{rem(0.5)};
    overflow: hidden;
  }

  .card {
    display: block;
    float: left;
    padding: 0 rem(0.5) rem(1);
    width: 25%;
    min-width: rem(24);
    box-sizing: border-box;
  }

  .card-wrapper {
    box-sizing: border-box;
    border: 1px solid darken($white, 20);
    background-color: darken($white, 6);
    box-shadow: 1px 1px 1px darken($white, 6);
    padding: rem(1);
    position: relative;
  }

  .card-header {
    background-color: darken($white, 10);
    margin: -#{rem(1)} -#{rem(1)} rem(1);
    padding: rem(1);
    min-height: rem(2.1);
    -webkit-user-select: none;

    &:empty {
      display: none;
    }

    label {
      display: block;
    }
  }

  .selected {
    .card-header {
      background-color: darken($white, 15);
    }
  }

  [data-role=cell-key] {
    color: darken($white, 50);

    &:after {
      content: 'ï¼š';
    }
  }

}
