.ui-grid-grid {
  .content {

    table {
      border-collapse: collapse;
      width: 100%;
    }

    @include table-scaffolding;
    @include inner-table-borders(1px, darken($white, 6));
    @include outer-table-borders(1px, darken($white, 6));

    th, td {
      padding: rem(0.5);
      text-align: center;
    }

    thead th {
      cursor: default;
      border-bottom-width: 2px;
    }

    [data-sort] {
      cursor: default;

      &:after {
        content: '\e654';
        font-family: 'iconfont';
        font-style: normal;
        font-size: 120%;
        font-weight: normal;
        margin-left: 0.3em;
        color: darken($white, 30);
      }
    }

    [data-sort="asc"] {
      &:after {
        content: '\e652';
        color: darken($white, 60);
      }
    }

    [data-sort="desc"] {
      &:after {
        content: '\e653';
        color: darken($white, 60);
      }
    }

    tr:nth-child(even) td {

    }

    tr:nth-child(odd) td {
      background-color: darken($white, 3);
    }

    tr:hover td {
      background-color: darken($white, 6);
    }

    td span, td label {
      display: inline-block;
      vertical-align: middle;
      max-width: rem(30);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    td a{
      text-decoration: underline;

      &:hover{
        color: $light_blue;
      }
    }

    button {
      cursor: pointer;
      margin: 0 rem(0.5) 0 0;
      padding: 0 rem(0.5);
      line-height: rem(2.2);
      color: invert($orange);
      background: none;
      border: none;

      &:hover {
        color: $orange;
      }

      &[disabled] {
        color: grayscale($orange);
        cursor: not-allowed;

        &:hover {
          color: grayscale($orange);
        }
      }
    }

    .button-sep {
      cursor: default;
      color: darken($white, 10);

      &:hover {
        color: darken($white, 10);
      }
    }
  }
}
