.ui-grid-view {
  font-size: rem(1.4);

  li {
    margin-bottom: rem(1);
    padding: rem(1);
    background-color: darken($white, 3);
    border: 1px solid darken($white, 10);

    &:hover {
      background-color: $white;
    }
  }

  .label {
    cursor: default;
    font-weight: bold;
  }

  .value {
    cursor: default;
    color: darken($white, 60);
  }

  .back {
    cursor: pointer;
    margin: rem(1) 0 0;
    padding: rem(0.5) rem(3);
    height: rem(3.2);
    line-height: rem(2.2);
    color: $white;
    background-color: $orange;
    border: none;

    &:hover {
      background-color: darken($orange, 10);
    }
  }

}
