html, body {
  height: 100%;
}

html {
  font: rem(1.4) Tahoma, Arial, Helvetica, "Microsoft YaHei", "宋体", sans-serif;
  overflow: hidden;
}

body {
  font: #{rem(1.4)}/1.5 Tahoma, Arial, Helvetica, "Microsoft YaHei", "宋体", sans-serif;
  color: lighten($black, 20);
  background-color: darken($white, 10);

  ::-webkit-scrollbar {
    width: rem(0.6);
    height: rem(0.6);
    background-color: $scrollbar_color;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $scrollbar_thumb_color;
  }
  ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
    background-color: transparent;
  }
}

input, textarea, keygen, select, button {
  font: #{rem(1.4)}/1.5 Tahoma, Arial, Helvetica, "Microsoft YaHei", "宋体", sans-serif;
  color: lighten($black, 20);
}

code, kbd, pre, samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

a {
  color: lighten($black, 20);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
