// from http://www.css-spinners.com/spinner/spinner

$ui-spinner-color: rgba(#003, 0.3) !default;

@include keyframes(ui-spinner) {
  0%   { @include rotateZ(0deg); }
  100% { @include rotateZ(360deg); }
}

.ui-spinner-small {
  @include animation(ui-spinner 1500ms infinite linear);
  @include border-radius(0.5em);
  @include box-shadow(
    $ui-spinner-color rem(0.7) 0 0 0,
    $ui-spinner-color rem(0.5) rem(0.5) 0 0,
    $ui-spinner-color 0 rem(0.7) 0 0,
    $ui-spinner-color -#{rem(0.5)} rem(0.5) 0 0,
    $ui-spinner-color -#{rem(0.7)} 0 0 0,
    $ui-spinner-color -#{rem(0.5)} -#{rem(0.5)} 0 0,
    $ui-spinner-color 0 -#{rem(0.7)} 0 0,
    $ui-spinner-color rem(0.5) -#{rem(0.5)} 0 0
  );
  display: inline-block;
  font-size: rem(1);
  width: rem(0.4);
  height: rem(0.4);
  overflow: hidden;
  text-indent: 100%;
}

.ui-spinner-large {
  @include animation(ui-spinner 1500ms infinite linear);
  @include border-radius(0.5em);
  @include box-shadow(
    $ui-spinner-color rem(1.4) 0 0 0,
    $ui-spinner-color rem(1) rem(1) 0 0,
    $ui-spinner-color 0 rem(1.4) 0 0,
    $ui-spinner-color -#{rem(1)} rem(1) 0 0,
    $ui-spinner-color -#{rem(1.4)} 0 0 0,
    $ui-spinner-color -#{rem(1)} -#{rem(1)} 0 0,
    $ui-spinner-color 0 -#{rem(1.4)} 0 0,
    $ui-spinner-color rem(1) -#{rem(1)} 0 0
  );
  display: inline-block;
  font-size: rem(1);
  width: rem(0.6);
  height: rem(0.6);
  overflow: hidden;
  text-indent: 100%;
}
