*.bak
*.diff
*.iml
*.patch
*.pyc
*.pyo
*.swo
*.swp
*~
.*proj
.build
.cache
.DS_Store
.idea
.ipr
.iws
.project
.sass-cache
.svn
_site
doc
Gruntfile.js
HISTORY.md
node_modules
sea-modules
Thumbs.db
tmp
~*
