.ui-form-grid {

  table {
    border-collapse: collapse;
    width: 100%;
  }

  @include table-scaffolding;
  @include inner-table-borders(1px, lighten($black, 80));
  @include outer-table-borders(1px, lighten($black, 80));

  th {
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  td {
    text-align: center;
    color: lighten($black, 50);

    input {
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      // border: 1px solid lighten($black, 80);
      border: none;
    }
  }

}
