.ui-form-search {
  padding: 0;
  max-width: rem(96);

  .ui-form-items {
    @include inline-block();
  }

  .ui-form-item {
    @include inline-block();
    margin: 0;

    .ui-form-explain {
      @include inline-block();
    }
  }

  .ui-form-group {
    @include inline-block();
    margin: 0;
  }

  .ui-form-input {
    @include inline-block();
    width: auto;
  }

  .ui-form-buttons {
    @include inline-block();
    padding: 0;
  }

  .ui-form-button {
    margin-right: 0;
  }
}
