<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <title>Demo</title>
  <link href="favicon.png" rel="icon">
  <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">{{{html}}}</div>
    {{#each assets as asset}}
    <script src="{{asset}}"></script>
    {{/each}}
  </body>
</html>
