$calendar_width: 238px;

.ui-calendar {
  // position: absolute;
  // font: 16px/20px 'Xin Gothic', 'PT Sans', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // background: #f9f9f9;
  // border-collapse: collapse;
  // border-spacing: 0;
  // border: 1px solid darken($white, 10);
  // box-shadow: 0 1px rem(1) darken($white, 20);
  // text-align: center;
  // width: $calendar_width;
  // z-index: 10;
  // -webkit-user-select: none;
  .ui-tip-container {
    padding: 0;
  }
}

.ui-calendar-date,
.ui-calendar-month,
.ui-calendar-year {
  border: none;
  box-shadow: none;
}

.ui-calendar-panel {
  text-align: center;
  // width: $calendar_width;
  border-bottom: 1px solid darken($white, 10);
  // zoom: 1;
  @include clearfix();

  .month,
  .year {
    width: 25%;
  }
}

.ui-calendar-container {
  text-align: center;
}

// .ui-calendar-panel:after,
// .ui-calendar-panel:before {
//   display: table;
//   line-height: 0;
//   content: "";
// }

// .ui-calendar-panel:after {
//   clear: both;
// }

.ui-calendar-control {
  display: inline;
  display: inline-block;
  float: left;
  width: 12.5%;
  *width: 29px;
  padding: 2px 0;
  cursor: pointer;

  &:hover {
    background-color: #efefee;
  }
}

@import 'calendar/year';
@import 'calendar/month';
@import 'calendar/date';
@import 'calendar/time';
@import 'calendar/bar';
