.ui-dialog {
  background-color: #fff;
  position: relative;
  -webkit-user-select: none;
  box-shadow: 0 rem(0.2) rem(0.3) darken($white, 33);
  min-width: rem(36);
  @include border-radius(rem(0.5));
}

.ui-dialog-alert,
.ui-dialog-confirm {
  @include border-radius(0);

  .ui-dialog-close {
    width: rem(2.2);
    height: rem(2.2);
    top: rem(1);
    right: rem(1);
    text-indent: 0;
    color: lighten($black, 50);
    background: none;
    font-size: rem(1.8);
    line-height: rem(1.8);
    text-align: center;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}

.ui-dialog-close {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  top: -16px;
  right: -16px;
  text-indent: -9999px;
  background: sprite($icon, close);
  background-repeat: no-repeat;
  background-size: 'cover';
  text-decoration: none;
}

.ui-dialog-content,
.ui-dialog-message {
  -webkit-user-select: initial;
  max-height: rem(50);
  max-width:rem(72);
  overflow: auto;
}

.ui-dialog-alert,
.ui-dialog-confirm {

  .ui-dialog-content {
    -webkit-user-select: none;
    max-height: none;
    max-width: none;
  }

}

.ui-dialog-error {
  .ui-dialog-content {
    padding: rem(3);
  }
}

.ui-dialog-head {
  padding: rem(1);
  height: rem(2.2);
  color: darken($white, 50);
  font-size: rem(1.6);
  line-height: rem(2.2);
  border-bottom: 1px solid darken($white, 6);
}

.ui-dialog-message {
  padding: rem(1);
  font-size: rem(1.6);
}

.ui-dialog-foot {
  padding: rem(1);
  height: rem(3.2);
  border-top: 1px solid darken($white, 6);
}


.ui-dialog-confirm-box,
.ui-dialog-cancel-box {
  @include inline-block();
}

a.ui-dialog-button {
  @include inline-block();
  cursor: pointer;
  margin: 0;
  padding: rem(0.5) rem(3);
  height: rem(2.2);
  line-height: rem(2.2);
  color: $white;
  background-color: $orange;
  border: none;
  text-decoration: none;

  &:hover {
    background-color: darken($orange, 10);
  }
}

.ui-dialog-confirm-box {
  float: right;
}

.ui-dialog-cancel-box {
  a.ui-dialog-button {
    background-color: lighten(grayscale($orange), 10);

    &:hover {
      background-color: grayscale($orange);
    }
  }
}
