@font-face {
  font-family: "editoricon";
  src: url('//at.alicdn.com/t/font_1431106786_375856.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1431106786_375856.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1431106786_375856.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1431106786_375856.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1431106786_375856.svg#editoricon') format('svg'); /* iOS 4.1- */
}

.ui-editor-dialog-link {
  input {
    width: 100%;
    box-sizing: border-box;
  }
}

.ui-editor {

  + .ui-form-explain {
    margin-right: -440px;
  }

  width: rem(96);

  .buttonbar {
    @include clearfix();

    .icon-aligncenter:before { content: "\e600"; }
    .icon-alignjustify:before { content: "\e601"; }
    .icon-alignleft:before { content: "\e602"; }
    .icon-alignright:before { content: "\e603"; }
    .icon-anchor:before { content: "\e604"; }
    .icon-blockquote:before { content: "\e605"; }
    .icon-bold:before { content: "\e606"; }
    .icon-char:before { content: "\e607"; }
    .icon-clearformat:before { content: "\e608"; }
    .icon-code:before { content: "\e609"; }
    .icon-configure:before { content: "\e60a"; }
    .icon-copy:before { content: "\e60b"; }
    .icon-corner:before { content: "\e60c"; }
    .icon-cut:before { content: "\e60d"; }
    .icon-datetime:before { content: "\e60e"; }
    .icon-explore:before { content: "\e60f"; }
    .icon-find:before { content: "\e610"; }
    .icon-fullscreen:before { content: "\e611"; }
    .icon-help:before { content: "\e612"; }
    .icon-hr:before { content: "\e613"; }
    .icon-image:before { content: "\e634"; }
    .icon-blockquoteindent:before { content: "\e615"; }
    .icon-italic:before { content: "\e616"; }
    .icon-link:before { content: "\e617"; }
    .icon-dirltr:before { content: "\e618"; }
    .icon-mark:before { content: "\e614"; }
    .icon-nbsp:before { content: "\e619"; }
    .icon-new:before { content: "\e61a"; }
    .icon-orderedlist:before { content: "\e61c"; }
    .icon-blockquoteoutdent:before { content: "\e61d"; }
    .icon-pagebreak:before { content: "\e61e"; }
    .icon-paragraph:before { content: "\e61f"; }
    .icon-paste:before { content: "\e620"; }
    .icon-pasteastext:before { content: "\e621"; }
    .icon-preview:before { content: "\e622"; }
    .icon-print:before { content: "\e623"; }
    .icon-redo:before { content: "\e624"; }
    .icon-dirrtl:before { content: "\e625"; }
    .icon-save:before { content: "\e626"; }
    .icon-smiley:before { content: "\e627"; }
    .icon-specialchar:before { content: "\e628"; }
    .icon-spellcheck:before { content: "\e629"; }
    .icon-strikethrough:before { content: "\e62a"; }
    .icon-subscript:before { content: "\e62b"; }
    .icon-supscript:before { content: "\e62c"; }
    .icon-table:before { content: "\e62d"; }
    .icon-template:before { content: "\e62e"; }
    .icon-underline:before { content: "\e62f"; }
    .icon-undo:before { content: "\e630"; }
    .icon-unlink:before { content: "\e631"; }
    .icon-unorderedlist:before { content: "\e632"; }
    .icon-video:before { content: "\e633"; }

    .group {
      float: left;
      margin-right: rem(0.5);
      border-top: 1px solid darken($white, 20);
      border-right: 1px solid darken($white, 20);

      &:empty {
        display: none;
      }
    }

    button {
      float: left;
      cursor: pointer;
      padding: 0 rem(0.4);
      text-decoration: none;
      background-color: $white;
      border-top: none;
      border-right: none;
      border-left: 1px solid darken($white, 20);
      border-bottom: 1px solid darken($white, 20);

      &:before {
        font-family: "editoricon" !important;
        font-style: normal;
        font-size: 120%;
        display: inline-block;
        text-align: center;
        min-width: rem(1.7);
      }

      &.active {
        background-color: fade-out($light_blue, 0.9);
        border-bottom-color: $light_blue;
      }

      &:hover {
        background-color: fade-out($orange, 0.9);
        border-bottom-color: $orange;
      }

      &[disabled] {
        cursor: default;
        color: darken($white, 20);
        background-color: $white;
        border-bottom-color: darken($white, 20);
      }
      span {
        display: none;
      }
    }

  }

  .container {
    margin: rem(0.5) 0;
    position: relative;
  }

  textarea {
    display: none;
    position: absolute;
    z-index: 2;
    padding: 1em;
    width: 100%;
    height: 100%;
    border: 1px solid darken($white, 20);
    box-sizing: border-box;
    resize: none;
  }

  iframe {
    display: block;
    width: 100%;
    height: rem(48);
    border: 1px solid darken($white, 20);
    box-sizing: border-box;
  }

  .statusbar {
    display: none;
    padding: rem(0.5);
    height: rem(2.1);
    border: 1px solid darken($white, 20);
  }

}
