.ui-form {
  font-size: rem(1.4);
  padding: rem(2) 0;
  max-width: rem(72);

  select {
    padding: 4px;
    min-height: 32px;
    line-height: 22px;
  }
}

.ui-form-input,
.ui-form-textarea,
.ui-form-static {
  display: block;
  border: 1px solid lighten($black, 80);
  padding: 4px 6px;
  width: 100%;
  min-height: 32px;
  line-height: 22px;
  background-color: $white;
  outline: none;
  box-sizing: border-box;

  &:hover,
  &:focus {
    border-color: $light_blue;
  }

  &[readonly] {
    background-color: darken($white, 6);
  }
}

.ui-form-comment {
  padding: 4px 7px;
  color: darken($white, 40);
}

.ui-form-input {
  &::-ms-clear {
    display: none;
  }
}

.ui-form-textarea {
  resize: none;
}

.ui-form-items {
  label {
    width: rem(14.5);
    text-align: right;
    position: absolute;
    margin: 0 0 0 -#{rem(15)};
    line-height: 32px;

    &:after {
      content: 'ï¼š';
    }
  }

  .radio-group,
  .checkbox-group {

    input {
      @include inline-block();
    }

    label {
      @include inline-block();
      width: auto;
      text-align: left;
      position: static;
      margin: 0 5px 0 0;

      &:after {
        content: none;
      }
    }

  }
}

.ui-form-group {
  margin: 0 rem(5) 0 rem(15);
  position: relative;
  cursor: default;

  &.required {
    > label:before {
      content: '* ';
      color: $red;
    }
  }

  .ui-form-item {
    margin: 0 0 rem(1) 0;
  }
}

.ui-form-item {
  margin: 0 rem(5) rem(1) rem(15);
  position: relative;
  cursor: default;

  &.required {
    > label:before {
      content: '* ';
      color: $red;
    }
  }

  .placeholder {
    font-size: rem(1.2);
    // color: $tip_color;
    position: absolute;
    left: rem(1);
    top: 32px;
    height: 19px;
  }

  &.sep-v {
    color: $white;
    text-align: center;
    line-height: 1.4em;

    &:before {
      content: '\20';
      display: block;
      width: 1.5em;
      height: 1.5em;
      background-color: darken($white, 10);
      position: absolute;
      left: 50%;
      margin-left: -0.75em;
      z-index: -1;
      border-radius: 50%;
    }

    &:after {
      content: '\20';
      display: block;
      border-bottom: 1px solid darken($white, 10);
      margin-top: -0.75em;
      position: relative;
      z-index: -2;
    }

  }
}

.ui-form-items-inline {
  display: flex;
  margin-right: -#{rem(0.5)};
  margin-left: -#{rem(0.5)};

  .ui-form-item {
    position: static;
    flex: 1;
    margin-right: rem(0.5);
    margin-left: rem(0.5);

    &.sep {
      flex: 0 auto;
    }
  }
}

.ui-form-icon-item {
  .ui-form-input,
  .ui-form-textarea,
  .ui-form-static {
    padding-left: 24px;
  }
}

.ui-form-icon {
  position: absolute;
  padding: 4px;
  color: lighten($black, 50);
}

//btn
.ui-form-buttons {
  padding: rem(2) rem(5) 0 rem(15);
}

.ui-form-button {
  cursor: pointer;
  margin: 0 rem(1) 0 0;
  padding: rem(0.5) rem(3);
  height: rem(3.2);
  line-height: rem(2.2);
  color: $white;
  background-color: $orange;
  border: none;

  &:hover {
    background-color: darken($orange, 10);
  }
}

.button-form-cancel {
  background-color: darken(grayscale($orange), 10);

  &:hover {
    background-color: grayscale($orange);
  }
}

.ui-form-element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
  z-index: -1;
}

@import "form/dialog";
@import "form/grid";
@import "form/search";
