.ui-gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  -webkit-user-select: none;
  outline: none;

  .prev-btn,
  .next-btn {
    cursor: pointer;
    position: absolute;
    width: rem(4);
    height: 100%;
    top: 0;

    &:before {
      margin: 0;
    }

    &:after {
      content: '\20';
      @include inline-block();
      height: 100%;
    }
  }
  .prev-btn {
    left: 0;
    text-align: left;
  }
  .next-btn {
    right: 0;
    text-align: right;
  }
  .image-wrap {
    .prev-btn {
      width: 50%;
      &:hover {
        &:before {
          font-size: 5em;
          content: '\e645';
        }
      }
    }
    .next-btn {
      width: 50%;
      &:hover {
        &:before {
          font-size: 5em;
          content: '\e646';
        }
      }
    }
  }
  .thumbs-wrap {
    .prev-btn {
      text-align: center;
      &:before {
        font-size: 2em;
        content: '\e645';
      }
    }
    .next-btn {
      text-align: center;
      &:before {
        font-size: 2em;
        content: '\e646';
      }
    }
  }
  .content {
    width: 100%;
    height: 100%;
  }

  .image-wrap {
    position: relative;
    z-index: 1;
    padding-top: rem(1);
    padding-bottom: rem(14);
    height: 100%;
    box-sizing: border-box;
    text-align: center;

    &:after {
      content: '\20';
      @include inline-block();
      height: 100%;
    }
  }

  .thumbs-wrap {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: rem(1) rem(5);
    box-sizing: border-box;
    width: 100%;
    height: rem(10);
  }

  .title-wrap {
    position: absolute;
    z-index: 2;
    bottom: rem(10);
    text-align: center;
    width: 100%;
    height: rem(3);
  }

  .thumbs {
    text-align: center;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;

    li {
      list-style: none;
      @include inline-block();
      margin: 0 4px;
      width: rem(8);
      height: rem(8);
      overflow: hidden;
      border: 1px solid $black;
      cursor: pointer;
    }
    .current {
      border-color: #09f;
    }
  }

  .index {
    color: $white;
    line-height: rem(3);
  }

  .image {
    max-width: 100%;
    max-height: 100%;
    @include inline-block();
  }

  .thumb {
    // max-width: 100%;
    // max-height: 100%;
  }
  .close,
  .origin {
    position: absolute;
    top: rem(1);
    z-index: 2;
    color: $white;
    width: rem(3);
    height: rem(3);
    text-align: center;
    line-height: rem(3);
    background-color: lighten($black, 10);
    border-radius: 50%;
    text-decoration: none;
    &:hover {
      background-color: lighten($black, 20);
    }
  }
  .close {
    right: rem(1);
  }
  .origin {
    right: rem(4.5);
  }
}
