.ui-grid {
  font-size: rem(1.4);

  .header, .footer, .content {
    margin: 0 0 rem(1.5);
  }

  .header {
    button {
      cursor: pointer;
      margin: 0 rem(0.5) 0 0;
      padding: rem(0.5) rem(2);
      height: rem(3.2);
      line-height: rem(2.2);
      color: $white;
      background-color: darken(grayscale($orange), 10);
      border: none;

      &:hover {
        background-color: grayscale($orange);
      }

      &[disabled] {
        color: grayscale($orange);
        background-color: lighten(grayscale($orange), 10);
        cursor: default;
      }
    }
  }

  .list-empty {
    padding: rem(1);
    border: 1px solid darken($white, 6);
    text-align: center;

    &:before {
      content: '';
      display: block;
      margin: rem(1) auto;
      width: 290px;
      height: 196px;
      background: url($image_url + 'noresult.png');
    }
  }

  .ui-form-search {
    float: right;
  }

}

@import "grid/grid";
@import "grid/card";
@import "grid/view";
