.ui-pagination {

  a {
    @include inline-block();
    cursor: pointer;
    padding: rem(0.3) rem(0.8);
    height: rem(1.8);
    line-height: rem(1.8);
    border: none;
    text-decoration: none;

    &:hover {
      background-color: darken($white, 6);
    }
  }

  .prev, .next {
    font-weight: bold;
  }

  [disabled] {
    color: darken($white, 20);
    cursor: default;

    &:hover {
      background: none;
    }
  }

  .current {
    cursor: default;
    background-color: darken($white, 15);

    &:hover {
      background-color: darken($white, 15);
    }
  }

  .hellip {
    background: none;
    cursor: default;

    &:hover {
      background: none;
    }
  }

  form {
    @include inline-block();
  }

  input {
    height: rem(2);
    line-height: rem(2);
    text-align: center;
    border: 1px solid darken($white, 30);
  }

  button {
    cursor: pointer;
    margin: 0 rem(0.5) 0 0;
    padding: rem(0.5) rem(1);
    height: rem(2.2);
    line-height: rem(1.2);
    color: darken(grayscale($orange), 10);
    background-color: lighten(grayscale($orange), 20);
    border: none;

    &:hover {
      background-color: lighten(grayscale($orange), 10);
    }
  }

}
