.ui-tabs {
}

.ui-tabs-nav {
  // margin-left: rem(-1);
  border-bottom: 1px solid #e7e7eb;
  line-height: rem(3.5);
  &:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
  }
}

.ui-tabs-content {
}

.ui-tabs-trigger {
  float: left;
  padding: 0 rem(2.2);
  cursor: pointer;

  &:first-of-type {
    padding-left: rem(3);
  }

  &:hover {
    border-bottom: rem(0.3) solid #a0a3ab;
  }

  &.ui-tabs-active {
    border-bottom: rem(0.3) solid $orange;
  }
}

.ui-tabs-panel {
  display: none;
}
