.ui-tree {

  ul {
    padding-left: rem(0.1);
  }

  li {

    li {
      padding-left: rem(1);
      background: inline-image('tree/v.gif') repeat-y rem(1.7) 0;
    }
  }

  .opened {
    > ul {
      display: block;
    }
  }

  i {
    font-style: normal;
  }

  .name {
    display: inline-block;
    font-style: normal;
    padding: 0 rem(0.2);

    &.selected {
      background-color: fade-out($dark_blue, 0.9);
    }
  }

  .active {
    > .name {
      color: $orange;
    }
  }

  .toggle {
    &:before {
      display: inline-block;
      content: '　';
      margin-left: rem(0.9);
      margin-right: rem(0.2);
      width: rem(0.6);
      height: rem(1.5);
      font-size: rem(1.5);
      line-height: rem(1.3);
      text-align: center;
      color: darken($white, 30);
      background: inline-image('tree/v.gif') repeat-x 0 rem(0.7);
    }
  }

  .has-child {
    > .toggle {
      &:before {
        content: '＋';
        margin-left: 0;
        margin-right: 0;
        width: rem(1.5);
        background: $white;
        border: 1px solid darken($white, 30);
      }
    }

    &.opened {
      > .toggle {
        &:before {
          content: '－';
        }
      }
    }

    &:last-child {
      background-image: none;
    }
  }

  .choose {
    display: none;
    margin-right: rem(0.3);
    width: rem(1.5);
    height: rem(1.5);
    font-size: rem(1.5);
    line-height: rem(1.3);
    text-align: center;
    border: 1px solid darken($white, 50);

    &:before {
      content: '　';
      color: $white;
    }
  }

  .checked {
    > .choose {
      background-color: darken($white, 40);
      &:before {
        content: '●';
      }
    }
  }

  .has-checked {
    > .choose {
      background-color: darken($white, 20);
      &:before {
        content: '●';
      }
    }
  }

  .buttons-save {
    display: block;
    padding-top: rem(1);
    padding-left: rem(2.1);

    button {
      cursor: pointer;
      margin: 0 rem(1) 0 0;
      padding: rem(0.5) rem(3);
      height: rem(3.2);
      line-height: rem(2.2);
      color: $white;
      background-color: $orange;
      border: none;

      &:hover {
        background-color: darken($orange, 10);
      }
    }
  }

  .buttons-crud {
    display: none;
    padding-left: 0.3em;

    button {
      line-height: rem(1.7);
      cursor: pointer;
      background: none;
      border: none;

      span {
        display: none;
      }

      &:hover {
        color: $orange;
      }

      &:before {
        font-family: 'iconfont';
        font-style: normal;
        font-size: 120%;
      }
    }
  }

  li {
    .buttons-crud {
      display: inline-block;
    }
  }

  .button-add-node {
    &:before {
      content: '\e618';
    }
  }

  .button-del-node {
    &:before {
      content: '\e623';
    }
  }

  .button-edit-node {
    &:before {
      content: '\e61e';
    }
  }

}

.ui-tree-foldable {

  li {
    ul {
      display: none;
    }
  }

  .toggle {
    display: inline-block;
  }
}

.ui-tree-checkable {
  .choose {
    display: inline-block;
    border-radius: 50%;
  }
}

.ui-tree-multiple {
  .choose{
    border-radius: 0;
  }
  .checked {
    > .choose {
      &:before {
        content: '√';
      }
    }
  }

  .has-checked {
    > .choose {
      &:before {
        content: '√';
      }
    }
  }
}

.ui-tree-node {
  margin-left: rem(1);
  padding-left: rem(1);
  cursor: default;
  position: relative;

  &:last-child {
    > .name {
      &:after {
        content: '';
        position: absolute;
        left: rem(1.8);
        top: rem(1.3);
        width: rem(0.9);
        height: rem(0.9);
        background-color: $white;
      }
    }
  }

  &.has-child {
    &:last-child {
      > .name {
        &:after {
          content: none;
        }
      }
    }
  }
}
