#interlude {
  height: 100%;
  display: flex;
  flex-direction: column;

  &:before,
  &:after {
    content: '';
    display: block;
    flex: 1;
  }

  .coffee {
    margin: 0 auto;
    width: 204px;
    height: 260px;
    background: url($image_url + 'coffee.png') no-repeat;
    animation: ani-coffee 1.5s step-start infinite;
  }

  .error {
    margin: 0 auto;
    width: 290px;
    height: 196px;
    background: url($image_url + 'noresult.png') no-repeat;
  }

  .content {
    text-align: center;
    font-size: 2em;
    line-height: 3;
    color: darken($white, 50);
  }
}

@keyframes ani-coffee {
  0% {
    background-position: 0 -260px;
  }
  20% {
    background-position: 0 -520px;
  }
  40% {
    background-position: 0 -780px;
  }
  60% {
    background-position: 0 -1040px;
  }
  80% {
    background-position: 0 -1300px;
  }
  100% {
    background-position: 0 0;
  }
}
