.collapsed {
  #main {
    margin-left: rem(4.5);
  }
}

#main {
  padding: rem(1);
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  margin-left: $aside_width;
  // @include transition(margin-left 200ms linear);

  // &.route-loading {
  //   &:before {
  //     content: '\e606';
  //     font-family: 'iconfont';
  //     font-style: normal;
  //     font-size: 300%;
  //     line-height: 1;
  //     color: darken($white, 10);
  //     animation: ani-route-loading 1.5s linear infinite;
  //   }
  // }
}

// @keyframes ani-route-loading {
//   100% {
//     transform: rotate(360deg);
//   }
// }
