#msgbox {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
}

.ui-message {
  margin: 0 auto rem(0.5);
  padding: rem(1);
  width: 50%;
  max-width: rem(32);
  min-width: rem(24);
  box-shadow: 0 0 rem(0.5) rgba(0, 0, 0, 0.3);
  .msg {
    word-break: break-all;
    word-wrap: break-word;
    text-align: center;
  }
  .close {
    cursor: pointer;
    float: right;
    margin-left: rem(0.5);
    width: rem(2.1);
    text-align: center;
    font-size: rem(1.8);
    line-height: rem(2.1);
    color: lighten($black, 60);
    background-color: $white;
    @include border-radius(50%);
    &:hover {
      color: lighten($black, 20);
    }
  }
}

.ui-message-success {
  color: $text_success;
  background-color: $bg_success;
}

.ui-message-info {
  color: $text_info;
  background-color: $bg_info;
}

.ui-message-warning {
  color: $text_warning;
  background-color: $bg_warning;
}

.ui-message-danger {
  color: $text_danger;
  background-color: $bg_danger;
}
